/* *{
    margin: 0;
    padding: 0;
    
} */

/* 
#myDiv{
    background-color: tomato;

    width: 100px;
    height: 100px;
}
  */

/* #innerDiv {
  background-color: aqua;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

#outerDiv {
  background-color: peru;
  width: 200px;
  height: 200px;
} */
